@value SongListHeaderHeight: 40px;

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  background: lightcyan;
  flex: 1;
  justify-content: space-around;
}

.songList {
  margin: 0 40px;
  width: 420px;
  display: flex;
  flex-direction: column;
}

.header {
  border: 1px solid lightblue;
  height: SongListHeaderHeight;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.songListTable {
  background: lightgrey;
  flex: 1;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

.songListTable tbody {
  width: 100%;
}

.songListTable tr {
  height: 50px;
  width: 100%;
}
.songListTable td {
  padding: 2px;
  margin: 0;
}
.songListTable td:nth-child(1) {
  width: 10%;
}
.songListTable td:nth-child(2) {
  width: 50%;
}
.songListTable td:nth-child(3) {
  width: 27%;
}
.songListTable td:nth-child(4) {
  width: 13%;
}

.roster {
  background: lightgrey;
  margin: 0 40px;
  width: 320px;
  margin-top: SongListHeaderHeight;
}