@value SongListHeaderHeight: 40px;

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  background: lightcyan;
  flex: 1;
  justify-content: space-around;
  overflow: hidden;
  padding-bottom: 20px;
}

.songList {
  margin: 0 40px;
  width: 420px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  border: 1px solid lightblue;
  height: SongListHeaderHeight;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  margin-right: 20px;
}

.songListTableContainer {
  position: absolute;
  top: SongListHeaderHeight;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.songListTable {
  background: lightgrey;
  border-spacing: 0;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  display: block;
}

.songListTable tbody {
  height: 100%;
  width: 100%;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
}

.songListTable tr {
  height: 50px;
  width: 100%;
  display: flex;
}
.songListTable td {
  padding: 2px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.songListTable td:nth-child(1) {
  width: 10%;
}
.songListTable td:nth-child(2) {
  width: 50%;
  justify-content: left;
  text-align: left;
}
.songListTable td:nth-child(3) {
  width: 27%;
}
.songListTable td:nth-child(4) {
  width: 13%;
}

.addButton {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 30px;
}

.rosterContainer {
  margin: 0 40px;
  width: 320px;
  margin-top: SongListHeaderHeight;
}

.roster {
  background: lightgrey;
  border-spacing: 0;
  table-layout: fixed;
  height: 80%;
  width: 100%;
  display: block;
}

.roster tbody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.roster tr {
  display: flex;
  flex: 1;
  align-items: center;
}

.removeCell {
  width: 10%;
}
.rosterSongName {
  width: 90%;
  text-align: left;
}

.roster .emptyCell {
  padding: 10px;
}

.removeButton {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.submit {
  margin-right: 30px;
}

.submit, .clear {
  cursor: pointer;
  padding: 5px 10px;
}