@value SongListHeaderHeight: 40px;

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 20px;
}

.songList {
  margin: 0 40px;
  width: 420px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  height: SongListHeaderHeight;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  margin-right: 20px;
}

.rosterContainer {
  margin: 0 40px;
  width: 320px;
  margin-top: SongListHeaderHeight;
}

.roster {
  border-spacing: 0;
  table-layout: fixed;
  height: 80%;
  width: 100%;
  display: block;
  border: 1px solid lightgrey;
  border-collapse: collapse;
}

.roster tbody {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.roster tr {
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid lightgrey;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}

.roster tr:last-of-type {
  border-bottom-width: 0;
}

.removeCell {
  width: 10%;
}
.rosterSongName {
  width: 90%;
  text-align: left;
}

.roster .emptyCell {
  padding: 10px;
}

.removeButton {
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 30px;
}

.buttons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 20%;
}

.submit {
  margin-right: 30px;
}

.submit, .clear {
  cursor: pointer;
  padding: 5px 10px;
}
